<!-- Example launch file for stereo camera application -->
<launch>
  <group ns="stereo">
    <!--<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc"/>-->

    <!-- Left -->
    <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
      <arg name="name" value="left"/>
      <arg name="ip" value="192.168.1.20"/>
      <arg name="guid" value=""/>
      <!--<arg name="camera_info_url" value="file://$(find avt_vimba_camera)/calibrations/calibration_example.yaml"/>-->
      <arg name="trigger_source" value="Action0"/>
      <arg name="trigger_selector" value="FrameStart"/>
      <arg name="trigger_mode" value="On"/>
      <arg name="exposure" default="5000"/>
      <arg name="exposure_auto" default="Off"/>
      <arg name="gain" default="0"/>
      <arg name="gain_auto" default="Off"/>
    </include>

    <!-- Right -->
    <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
      <arg name="name" value="right"/>
      <arg name="ip" value="192.168.1.21"/>
      <arg name="guid" value=""/>
      <!--<arg name="camera_info_url" value="file://$(find avt_vimba_camera)/calibrations/calibration_example.yaml"/>-->
      <arg name="trigger_source" value="Action0"/>
      <arg name="trigger_selector" value="FrameStart"/>
      <arg name="trigger_mode" value="On"/>
      <arg name="exposure" default="5000"/>
      <arg name="exposure_auto" default="Off"/>
      <arg name="gain" default="0"/>
      <arg name="gain_auto" default="Off"/>
    </include>
  </group>
</launch>
